<nav class="navbar navbar-fluid navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Employee Portal</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navdropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >My Portal</a
        >
        <div class="dropdown-menu" aria-labelledby="navdropdown">
          <a
            class="dropdown-item"
            routerLink="/emp/contact"
            routerLinkActive="active"
            >Contact Details</a
          >
          <a
            class="dropdown-item"
            routerLink="/emp/bills"
            routerLinkActive="active"
            >Bills</a
          >
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" *ngIf="data">
  <h4 *ngIf="!contact && !bill && !billid">
    Welcome {{ data.name }} to the Employee Management Portal
  </h4>
  <div *ngIf="empport == 'contact' && contactForm">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <h2 class="text-center">Welcome to Employee Management Portal</h2>
      <h4 class="text-center">Your Contact Details</h4>
      <div
        *ngIf="contactForm.valid && !contactStat"
        class="text-danger text-center"
      >
        Displaying Contact Details
      </div>
      <div
        *ngIf="!contactForm.valid && contactStat"
        class="text-primary text-center"
      >
        No Contact Details Found. Please Enter Them
      </div>
      <div *ngIf="contactStat == 1" class="text-danger text-center">
        Details has been successfully added
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-7">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">Mobile:</label>
            <div class="col-sm-9">
              <input
                class="form-control"
                type="text"
                formControlName="mobile"
                placeholder="Enter mobile number"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="mobile.invalid && mobile.dirty"
        class="text-danger text-center"
      >
        <div
          *ngIf="
            mobile.errors.required ||
            mobile.errors.minlength ||
            mobile.errors.matchNo
          "
        >
          Mobile number has at least 10 characters. Allowed are 0-9,+,- and
          space
        </div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-7">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">Address:</label>
            <div class="col-sm-9">
              <input
                class="form-control"
                type="text"
                formControlName="address"
                placeholder="Enter Employee Address"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-7">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">City:</label>
            <div class="col-sm-9">
              <input
                class="form-control"
                type="text"
                formControlName="city"
                placeholder="Enter Employee City"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-7">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">Country:</label>
            <div class="col-sm-9">
              <input
                class="form-control"
                type="text"
                formControlName="country"
                placeholder="Enter Employee Country"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="country.invalid && country.dirty"
        class="text-danger text-center"
      >
        <div *ngIf="country.errors.required">Country is required</div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-7">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">PinCode:</label>
            <div class="col-sm-9">
              <input
                class="form-control"
                type="text"
                formControlName="pin"
                placeholder="Enter pincode"
              />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="pin.invalid && pin.dirty" class="text-danger text-center">
        <div *ngIf="pin.errors.required">Pincode is required</div>
      </div>
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-7">
          <div class="row p-2">
            <button
              class="btn-primary"
              type="submit"
              [disabled]="!contactForm.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="empport == 'bills'">
    <h2 class="text-center">Welcome to Employee Management Portal</h2>
    <h4>Details of Bills Submitted</h4>
    <div class="row m-2 bg-primary">
      <div class="col-2 border text-center">Id</div>
      <div class="col-4 border text-center">Descriptioon</div>
      <div class="col-3 border text-center">Expense Head</div>
      <div class="col-2 border text-center">Amount</div>
    </div>
    <div *ngIf="bill">
      <div class="row m-2" *ngFor="let b1 of bill.data">
        <div class="col-2 border text-center">{{ b1.billid }}</div>
        <div class="col-4 border text-center">{{ b1.description }}</div>
        <div class="col-3 border text-center">{{ b1.expensetype }}</div>
        <div class="col-2 border text-center">{{ b1.amount }}</div>
        <div class="col-1 border text-center">
          <a
            routerLink="/emp/{{ b1.expensetype.toLowerCase() + 'bill' }}/{{
              b1.billid
            }}"
            routerLinkActive="active"
          >
            <i class="fa fa-plus-square"></i>
          </a>
        </div>
      </div>
    </div>
    <h4 style="text-decoration: underline; cursor: pointer" (click)="newBill()">
      Submit a New Bill
    </h4>
    <div *ngIf="billshow">
      <form [formGroup]="billForm" (ngSubmit)="onBillSubmit()">
        <h4 class="text-center">Enter details of the new Bill</h4>
        <div *ngIf="billstat == 1" class="text-danger text-center">
          New Bill has been successfully created
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-7">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label text-right"
                >Description:</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  formControlName="des"
                  placeholder="Enter description"
                />
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="des.invalid && des.dirty" class="text-danger text-center">
          <div *ngIf="des.errors.required">Description required</div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-7">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label text-right"
                >Expense Type:</label
              >
              <div class="col-sm-9">
                <select class="form-control" formControlName="expType">
                  <option>Travel</option>
                  <option>Hotel</option>
                  <option>Software</option>
                  <option>Communication</option>
                  <option>Others</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="expType.invalid && expType.dirty"
          class="text-danger text-center"
        >
          <div *ngIf="expType.errors.required">Expense Type required</div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-7">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label text-right">Amount:</label>
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  formControlName="amount"
                  placeholder="Enter amount"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="amount.invalid && amount.dirty"
          class="text-danger text-center"
        >
          <div *ngIf="amount.errors.price">Not a valid Amount</div>
        </div>
        <div class="row">
          <div class="col-sm-5"></div>
          <div class="col-sm-7">
            <div class="row p-2">
              <button
                class="btn-primary"
                type="submit"
                [disabled]="!billForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="empport == 'hotelbill'">
    <h2 class="text-center">Welcome to Employee Management Portal</h2>
    <h4 class="text-center">Hotel Stay Details</h4>
    <h4 class="text-center">Bill Id : {{ billid }}</h4>
    <form [formGroup]="hotelForm" (ngSubmit)="onHotelbillSubmit()">
      <div
        *ngIf="hotelForm.valid && hotelstatus == 0"
        class="text-danger text-center"
      >
        Displaying Hotel Bill Details
      </div>
      <div
        *ngIf="!hotelForm.valid && hotelstatus == 0"
        class="text-primary text-center"
      >
        No Hotel Stay Details Found. Please Enter Them.
      </div>
      <div *ngIf="hotelstatus == 1" class="text-danger text-center">
        Hotel Stay Details have been successfully created
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Check In Date:</label
            >
            <div class="col-8">
              <div class="row">
                <div class="col-sm-4">
                  <select class="form-control" formControlName="ciday">
                    <option value="">Day</option>
                    <option *ngFor="let d1 of day" value="{{ d1 }}">
                      {{ d1 }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="cimonth">
                    <option value="">Month</option>
                    <option *ngFor="let m1 of month" value="{{ m1 }}">
                      {{ m1 }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="ciyear">
                    <option value="">Year</option>
                    <option *ngFor="let y1 of years" value="{{ y1 }}">
                      {{ y1 }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Check Out Date:</label
            >
            <div class="col-8">
              <div class="row">
                <div class="col-sm-4">
                  <select class="form-control" formControlName="coday">
                    <option value="">Day</option>
                    <option *ngFor="let d1 of day" value="{{ d1 }}">
                      {{ d1 }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="comonth">
                    <option value="">Month</option>
                    <option *ngFor="let m1 of month" value="{{ m1 }}">
                      {{ m1 }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="coyear">
                    <option value="">Year</option>
                    <option *ngFor="let y1 of years" value="{{ y1 }}">
                      {{ y1 }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Hotel:</label>
            <div class="col-8">
              <input
                class="form-control"
                formControlName="hotel"
                type="text"
                placeholder="Name of the hotel"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">City:</label>
            <div class="col-8">
              <input
                class="form-control"
                formControlName="city"
                type="text"
                placeholder="City"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  formControlName="booking"
                />
                <label class="form-check-label">Corporate Booking</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-6">
          <div class="row p-2">
            <div class="col-1"></div>
            <button
              class="btn-primary"
              type="submit"
              [disabled]="!hotelForm.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="empport == 'travelbill'">
    <h2 class="text-center">Welcome to Employee Management Portal</h2>
    <h4 class="text-center">Flight Details</h4>
    <h6 class="text-center">Bill Id : {{ billid }}</h6>
    <div
      *ngIf="travelForm.valid && travelstatus == 0"
      class="text-danger text-center"
    >
      Displaying Flight Details
    </div>
    <div
      *ngIf="!travelForm.valid && hotelstatus == 0"
      class="text-primary text-center"
    >
      No flight Details Found. Please Enter Them.
    </div>
    <div *ngIf="travelstatus == 1" class="text-danger text-center">
      Flight Details have been successfully created
    </div>
    <hr />
    <form [formGroup]="travelForm" (ngSubmit)="onTravelbillSubmit()">
      <h5 class="text-center">Departure Flight Details</h5>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Check In Date:</label
            >
            <div class="col-8">
              <div class="row">
                <div class="col-sm-4">
                  <select class="form-control" formControlName="dday">
                    <option value="">Day</option>
                    <option *ngFor="let d1 of day" value="{{ d1 }}">
                      {{ d1 }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="dmonth">
                    <option value="">Month</option>
                    <option *ngFor="let m1 of month" value="{{ m1 }}">
                      {{ m1 }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="dyear">
                    <option value="">Year</option>
                    <option *ngFor="let y1 of years" value="{{ y1 }}">
                      {{ y1 }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Origin City:</label
            >
            <div class="col-8">
              <input
                class="form-control"
                formControlName="originCity"
                type="text"
                placeholder="Enter Origin City"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Destination City:</label
            >
            <div class="col-8">
              <input
                class="form-control"
                formControlName="destCity"
                type="text"
                placeholder="Enter Destination City"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Flight Number:</label
            >
            <div class="col-8">
              <input
                class="form-control"
                formControlName="flightNo"
                type="text"
                placeholder="Enter Flight Number"
              />
            </div>
          </div>
        </div>
      </div>
      <hr />
      <h5 class="text-center">Return Flight Details</h5>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Flight Date:</label
            >
            <div class="col-8">
              <div class="row">
                <div class="col-sm-4">
                  <select class="form-control" formControlName="rday">
                    <option value="">Day</option>
                    <option *ngFor="let d1 of day" value="{{ d1 }}">
                      {{ d1 }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="rmonth">
                    <option value="">Month</option>
                    <option *ngFor="let m1 of month" value="{{ m1 }}">
                      {{ m1 }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="ryear">
                    <option value="">Year</option>
                    <option *ngFor="let y1 of years" value="{{ y1 }}">
                      {{ y1 }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Origin City:</label
            >
            <div class="col-8">
              <input
                class="form-control"
                formControlName="roriginCity"
                type="text"
                placeholder="Enter Origin City"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Destination City:</label
            >
            <div class="col-8">
              <input
                class="form-control"
                formControlName="rdestCity"
                type="text"
                placeholder="Enter Destination City"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right"
              >Flight Number:</label
            >
            <div class="col-8">
              <input
                class="form-control"
                formControlName="rflightNo"
                type="text"
                placeholder="Enter Flight Number"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
          <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  formControlName="booking"
                />
                <label class="form-check-label">Corporate Booking</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-6">
          <div class="row p-2">
            <div class="col-1"></div>
            <button
              class="btn-primary"
              type="submit"
              [disabled]="!travelForm.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
