<nav class="navbar navbar-fluid navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Employee Portal</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<h2 class="text-center">Welcome to Employee management Portal</h2>
<div class="container row">
  <div class="col-12">
    <h4 class="text-center">Login</h4>
  </div>
  <div class="col-5"></div>
  <div class="col-7">
    <form [formGroup]="simpleForm" (ngSubmit)="onSubmit()">
      <div *ngIf="status" class="text-danger">
        Login failed. Check the username and password
      </div>
      <div class="form-group">
        <div class="row">
          <label class="col-sm-2 col-form-label">Email ID:</label>
          <div class="col-sm-10">
            <input
              class="form-control"
              type="email"
              formControlName="id"
              placeholder="Enter your Email ID"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="col-md-2 col-form-label">Password:</label>
          <div class="col-md-10">
            <input
              class="form-control"
              type="password"
              formControlName="password"
              placeholder="Enter your password"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <button
              class="btn-primary"
              type="submit"
              [disabled]="!simpleForm.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
