<nav class="navbar navbar-fluid navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Employee Portal</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navdropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Admin</a
        >
        <div class="dropdown-menu" aria-labelledby="navdropdown">
          <a
            class="dropdown-item"
            routerLink="/admin/empadd"
            routerLinkActive="active"
            >Add Employee</a
          >
          <a
            class="dropdown-item"
            routerLink="/admin/viewemp"
            routerLinkActive="active"
            >View Employees</a
          >
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h4 *ngIf="empDetails !== 'viewemp' && empDetails !== 'empadd'">
    Welcome to admin
  </h4>
  <div *ngIf="empDetails == 'empadd'">
    <h4 class="text-center">Welcome to Employee Management Portal</h4>
    <h6 class="text-center">Add New Employee</h6>
    <div *ngIf="afterStatus == 1" class="text-center text-danger">
      {{ showAddMsg }}
    </div>
    <div *ngIf="afterStatus == 2" class="text-center text-danger">
      {{ showAddMsg }}
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="simpleForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-4"></div>
            <div class="col-7">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name: </label>
                <div class="col-sm-9">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="name"
                    placeholder="Enter the Employee Name"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="name.invalid && name.dirty"
            class="text-center text-danger"
          >
            <div *ngIf="name.errors.minlength">
              Name should have atleast 8 characters
            </div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-7">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-9">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="email"
                    placeholder="Enter the Employee's email"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="email.invalid && email.dirty"
            class="text-center text-danger"
          >
            <div *ngIf="email.errors.email">Not a valid Email</div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-7">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password: </label>
                <div class="col-sm-9">
                  <input
                    class="form-control"
                    type="password"
                    formControlName="password"
                    placeholder="Enter the Password"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="password.invalid && password.dirty"
            class="text-center text-danger"
          >
            <div *ngIf="password.errors.patternMatch">
              Password should be min. 8 chars with a lowercase, uppercase and
              digit
            </div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-7">
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">
                  <input
                    class="form-control"
                    type="password"
                    formControlName="repass"
                    placeholder="Re-Enter the password"
                  />
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="simpleForm.dirty" class="text-center text-danger">
            <div *ngIf="simpleForm.errors.passMatch">Password do not match</div>
          </div>
          <div class="row">
            <div class="col-5"></div>
            <div class="col-7">
              <div class="row p-2">
                <button class="btn-primary" type="submit">Add</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="empDetails == 'viewemp'">
    <div class="mt-2" *ngIf="admin.length > 1">
      <div>1-{{ admin.length }} of {{ admin.length }}</div>
      <div class="row bg-primary">
        <div class="col-5 text-center border">Name</div>
        <div class="col-5 text-center border">Email</div>
      </div>
      <div class="row text-center" *ngFor="let e1 of admin">
        <div class="col-5 border">{{ e1.name }}</div>
        <div class="col-5 border">{{ e1.email }}</div>
        <div class="col-2 border">
          <button class="btn-light" (click)="details(e1.empuserid)">
            Details
          </button>
        </div>
      </div>
    </div>
    <div class="mt-2" *ngIf="!admin.length">
      <div>{{ 1 }}-1 of 1</div>
      <div class="row bg-primary">
        <div class="col-5 text-center border">Name</div>
        <div class="col-5 text-center border">Email</div>
      </div>
      <div class="row text-center">
        <div class="col-5 border">{{ admin.name }}</div>
        <div class="col-5 border">{{ admin.email }}</div>
        <div class="col-2 border">
          <button class="btn-light" (click)="details(7)">Details</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div *ngIf="detail">
      <h2 class="text-center">Welcome to Employee Management Portal</h2>
      <h4 class="text-center">Department Details of New Employee</h4>
      <form [formGroup]="deptForm" (ngSubmit)="depSubmit()">
        <div *ngIf="deptForm.valid && !depstat" class="text-center text-danger">
          Displaying Department Details.
        </div>
        <div
          *ngIf="!deptForm.valid && !depstat"
          class="text-center text-danger"
        >
          No Department Details Found. Please Enter Them.
        </div>
        <div *ngIf="depstat == 1" class="text-danger text-center">
          Details has been successfully added
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-7">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label text-right"
                >Department:
              </label>
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  formControlName="dep"
                  placeholder="Enter the Employee's Department"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-7">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label text-right"
                >Designation:</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  formControlName="deg"
                  placeholder="Enter the Employee's Designation"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-7">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label text-right"
                >Manager's Name:
              </label>
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  formControlName="manager"
                  placeholder="Enter the Manager's Name"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-7">
            <div class="row p-2">
              <button
                class="btn-primary"
                type="submit"
                [disabled]="deptForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
